<h2>Change your password</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <section id="about">
    <div class="container">
     <div class="row">
      <h2 class="form-title text-center">
        Change Password
      </h2>
      <div class="form-inputs col-sm-9 col-md-7 col-lg-5 mx-auto">
        <%= f.input :password,
        label: "New password",
        required: true,
        autofocus: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "Change my password" %>
        <%= render "devise/shared/links" %>
      </div>
      <% end %>

    </div>
  </div>
</section>
