
<section>
<div class="container">
    <h3 class="h3">Order Online </h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                  <div class="#">
                     <%=image_tag("seo/churroplate.jpg", alt: "", class: "smile-image")%>
                  </div>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Original</a></h3>
                    <div class="price">$5.00
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Buy Now"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                  <div class="#">
                     <%=image_tag("seo/churroplate.jpg", alt: "", class: "smile-image")%>
                  </div>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Wicked Sweet Kid</a></h3>
                    <div class="price">$5.00
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Buy Now"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                  <div class="#">
                     <%=image_tag("seo/churroplate.jpg", alt: "", class: "smile-image")%>
                  </div>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Coconut Craze</a></h3>
                    <div class="price">$5.00
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Buy Now"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                  <div class="#">
                     <%=image_tag("seo/churroplate.jpg", alt: "", class: "smile-image")%>
                  </div>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Peanut Butter Choco</a></h3>
                    <div class="price">$5.00
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Buy Now"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>
<section>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                  <div class="#">
                     <%=image_tag("seo/churroplate.jpg", alt: "", class: "smile-image")%>
                  </div>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Choco Sprinkle</a></h3>
                    <div class="price">$5.00
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Buy Now"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr>
</section>